/* Lembre-se de manter isso no topo do seu CSS */
* {
  box-sizing: border-box;
}

.hero {
  display: block;
  position: relative;
  width: 100%;
}

#hero-background {
  width: 100%;

  position: relative;
  z-index: 0;
}

#hero-background img {
  width: 100%;
  height: auto;
  display: block;
}

#topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  z-index: 1;
  a {
    display: inline-block;
  }
}

#topbar object {
  pointer-events: none;
  display: inline;
  width: 168px;
  height: 38px;
}

#hero-anchor {
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 80px;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  z-index: 1;
  i {
    display: flex; 
  }
  svg {
    display: block;
    width: 10px;
    height: 18px;
    color: #fff;
  }
}

@media (min-width: 1190px) {
  .hero {
    #topbar {
      padding: 24px 55px;
    }
  }
}