main {
    padding-top: 100px;
}

.section.card-grid-container {
    .lp-others .lp-filters {
        overflow: hidden;
        margin: 32px -24px;
    }

    .lp-others .lp-cards {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
        flex: 1 1 calc(25% - 1rem);
        gap: 16px;
    }

    .lp-others .lp-card {
        display: flex;
        flex-direction: column;
        padding: 24px;
        border-radius: 8px;
        background: #fff;
        gap: 16px;
    }

    .lp-cards a {
        color: #000;
        margin-right: -16px;
        position: relative;
        display: contents;
    }

    .lp-cards header > i > img {
        width: 32px;
        height: 32px;
    }

    .lp-cards .saiba-mais-mobile img {
        position: relative;
        top: 2px;
    }

    .lp-others .lp-filters h3 {
        margin: 0 0 24px;
        padding: 0 24px;
    }

    .lp-others .lp-filters ul {
        display: flex;
        margin: 0;
        list-style: none;
        gap: 16px;
        width: 100%;
        overflow-x: auto;
        padding: 0 24px 16px;
        max-width: 100vw;
        box-sizing: border-box;
    }

    .lp-others .lp-filters a {
        display: flex;
        border-radius: 24px;
        padding: 12px 32px;
        text-decoration: none;
        background: #fff;
        color: #000;
        white-space: nowrap;
    }

    .lp-others[data-filter="0"] .lp-filters a[data-filter="0"],
    .lp-others[data-filter="1"] .lp-filters a[data-filter="1"],
    .lp-others[data-filter="2"] .lp-filters a[data-filter="2"],
    .lp-others[data-filter="3"] .lp-filters a[data-filter="3"],
    .lp-others[data-filter="4"] .lp-filters a[data-filter="4"] {
        background: var(--color-red);
        color: #fff;
    }

    .lp-others .lp-card header {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .lp-others .lp-card i {
        display: block;
        flex: 0 0 auto;
        width: 40px;
        height: 40px;
        border-radius: 12px;
        background: var(--color-red);
        padding: 8px;
        box-sizing: border-box;
    }

    .lp-others .lp-card i picture img {
        width: 100%;
        height: 100%;
    }

    .lp-others .lp-card h3,
    .lp-others .lp-card h4 {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
    }

    .lp-cards .saiba-mais-mobile {
        color: #3b69ff;
    }

    .lp-others[data-filter="1"] .lp-card:not([data-filter="1"]),
    .lp-others[data-filter="2"] .lp-card:not([data-filter="2"]),
    .lp-others[data-filter="3"] .lp-card:not([data-filter="3"]),
    .lp-others[data-filter="4"] .lp-card:not([data-filter="4"]) {
        display: none;
    }

    /* .lp-cards .h3-card__novo,
    .lp-cards .p-card__novo,
    .lp-cards .a-novo__card {
        color: #007aff;
    }

    .lp-cards .p-card__novo .a-novo__card a {
        font-weight: bold;
        text-decoration: underline;
    } */

    @media (width >= 1016px) {
        .lp-others .lp-cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (width >= 688px) {
        .lp-others .lp-cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (width >= 1199px) {
        .lp-filters {
            display: flex;
            margin: 32px 0 48px;
            gap: 32px;
            align-items: center;
        }

        .lp-filters h3,
        .lp-filters ul {
            padding: 0;
            margin: 0;
        }

        .lp-others .lp-filters {
            display: flex;
            margin: 32px 0 48px;
            gap: 32px;
            align-items: center;
        }

        .lp-others .lp-filters h3,
        .lp-others .lp-filters ul {
            padding: 0;
            margin: 0;
        }

        .lp-others .lp-card {
            gap: 8px;
            height: 312px;
            width: 320px;
        }

        @media (width >= 1424px) {
            .lp-others .lp-cards {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        .lp-others .lp-card header {
            align-items: flex-start;
            flex-direction: column;
            gap: 24px;
        }

        .lp-others .lp-card i {
            width: 48px;
            height: 48px;
        }

        .lp-others .lp-card h3,
        .lp-others .lp-card h4 {
            white-space: pre-line;
        }
    }
}
