@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.a-fadeIn {
    animation: fadeIn 0.3s linear both;
}

.c-brand,
.c-endereco,
.c-seguir {
    margin: 1.25rem 0;
    padding: 0 15px;
}

.section.footer-container {
    max-width: 100vw;
    padding: 0;
}

.c-seguir li {
    display: inline-block;
    margin-right: 5px;
}

.c-map__item li {
    line-height: 0;
}

.c-rapido li,
.c-uteis__content li {
    margin-bottom: 25px;
    position: relative;
}

.c-uteis__content li {
    margin-bottom: 25px;
    position: relative;
}

.c-facil {
    color: #3c3c3c;
    margin-bottom: 1.875rem;
    flex: 0 0 200px;
    display: flex;
    position: relative;
}

.c-facil li {
    margin-bottom: 0;
}

.c-seguir li:first-child {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 5px;
}

.c-rapido nav > ul,
.c-uteis nav > ul {
    list-style-type: none;
    padding-left: 0;
}

.c-gradiente .c-ctnr .c-seguir nav ul {
    display: block;
}

.c-seguir span {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.c-rapido,
.c-uteis,
.c-uteis__content {
    width: 100%;
}

.c-brand,
.c-endereco,
.c-gradiente,
.c-rapido,
.c-seguir {
    flex-basis: auto;
    justify-content: center;
    text-align: center;
}

.c-rapido a,
.c-uteis__content a,
.c-uteis__lnk a {
    text-decoration: none;
    position: relative;
    line-height: initial;
}

.c-rapido a {
    color: #fff;
    opacity: 0.7;
}

.c-rapido span {
    padding: 0 5px;
}

.c-rapido a span {
    display: none;
}

.c-endereco address {
    opacity: 0.7;
    font-size: 12px;
    font-style: initial;
    text-transform: capitalize;
}

.c-rapido {
    border-top: 1px solid rgb(255 255 255 / 46%);
    padding: 16px 0;
    text-transform: uppercase;
}

.c-footer {
    font-size: 12px;
    display: flex;
    flex-flow: row wrap;
    font-family: Bradesco, sans-serif;
    position: relative;
    letter-spacing: 0.5px;
    background: #ebebeb;
    flex-basis: 100%;
}

.c-footer a {
    font-size: 12px;
}

.c-info {
    padding-left: 1.0625rem;
    margin-bottom: 0;
    list-style-type: none;
}

.c-info a {
    padding: 0 20px;
    font-size: 16px;
}

.c-info li::after,
.c-info li::before {
    position: absolute;
}

.c-info li::after {
    content: " ";
    border: solid red;
    border-width: 0.125rem 0.125rem 0 0;
    display: inline-block;
    padding: 0.125rem;
    transform: rotate(45deg);
    top: 0.3125rem;
    left: -11px;
}

.c-info li::before {
    content: " ";
    border: solid #c7c7c7;
    border-width: 0.125rem;
    display: inline-block;
    padding: 11px;
    border-radius: 100%;
    top: -5px;
    left: -20px;
}

.c-uteis {
    background: #ebebeb;
    align-items: center;
    padding: 0.625rem 0.9375rem;
    flex-wrap: wrap;
}

.c-uteis nav {
    width: 100%;
}

.c-uteis,
.c-uteis__content {
    width: 100%;
}

.c-uteis__content a,
.c-uteis__lnk a {
    text-decoration: none;
    position: relative;
    line-height: initial;
    color: #3c3c3c;
    display: inline;
    margin-right: 0;
    font-weight: 700;
    outline: 0;
}

.c-uteis__lnk a {
    text-transform: uppercase;
}

.c-facil a {
    /* font-weight: 400; */
}

.c-uteis__content p {
    margin: 0;
}

.c-uteis__lnk {
    padding: 10px 0;
    border-bottom: 0.0625rem solid #999;
}

.c-uteis__lnk a::after {
    content: " ";
    border: solid #e5435f;
    border-width: 0 0.125rem 0.125rem 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    right: 0;
    top: calc(100% - 0.9375rem);
    position: absolute;
    cursor: pointer;
}

.c-uteis__lnk.is-active a::after {
    border-width: 0.125rem 0 0 0.125rem;
    top: calc(100% - 0.625rem);
    cursor: pointer;
}

.c-uteis__content {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
    margin-right: 0;
    display: flex;
}

.c-uteis__content.is-closed {
    display: none;
    overflow: hidden;
}

.c-bia strong,
.c-facil strong {
    font-size: 1.125rem;
}

.c-facil li p {
    line-height: inherit;
}

.c-bia,
.c-facil {
    list-style-type: none;
    padding-left: 0;
}

.c-map {
    display: flex;
    flex-flow: row wrap;
}

.c-map__item {
    margin-right: 10px;
    flex: 0 0 100%;
}

.c-map__item h3 {
    color: rgb(229 67 95);
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(153 153 153);
    padding: 0.625rem 0;
}

.c-gradiente {
    flex-basis: 100%;
    z-index: 11;
    padding: 0 0.9375rem;
    background: linear-gradient(270deg, rgb(204 9 47) 40%, rgb(184 21 112) 90%);
}

.c-ctnr {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (width >= 767px) {
    .c-map {
        gap: 10px;
    }

    .c-map__item {
        flex: 0 0 225px;
    }
}

@media only screen and (width <= 768px) {
    footer .item__bia,
    footer .item__info-uteis {
        display: block;
        padding: 10px;
        clear: both;
    }

    footer .logo__footer {
        text-align: center;
        float: none !important;
    }

    footer .logo__footer img {
        width: 50%;
        height: 62px;
        display: block !important;
        margin: 0 auto;
    }

    .c-bia,
    .c-uteis__lnk a {
        display: inherit;
    }
}

@media (width <= 465px) {
    .c-facil {
        flex: 0 0 100%;
    }
}

@media only screen and (width <= 1023px) {
    .c-gradiente {
        padding: 0;
    }

    .c-endereco {
        margin: 0;
        padding: 15px;
        width: 100%;
    }
}

@media only screen and (width >= 1024px) {
    .c-uteis__content li {
        display: block;
        line-height: 18.4px;
    }

    .c-uteis__lnk a {
        padding-right: 12px;
    }

    .c-uteis__lnk a::after {
        right: -2px;
    }
}

@media (width >= 1199px) {
    .c-ctnr {
        width: calc(100% - 120px);
        justify-content: space-between;
    }

    .c-gradiente .c-ctnr .c-seguir nav ul {
        display: flex;
        align-items: center;
    }

    .c-rapido a span {
        display: inline-block;
    }

    .c-rapido li,
    .c-uteis__lnk {
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .c-rapido li {
        margin-bottom: 0;
    }

    .c-uteis__lnk a {
        border-bottom: none;
        margin-right: 0;
        padding: 0 12px;
    }

    .c-info a,
    .c-map__item a {
        margin-bottom: 10px;
    }

    .c-uteis__lnk a:first-child {
        padding-left: 0;
    }

    .c-uteis__lnk {
        border-bottom: none;
        margin-right: 25px;
        margin-bottom: 0;
    }

    .c-facil,
    .c-uteis__content {
        gap: 70px;
    }

    .c-bia,
    .c-facil,
    .c-info {
        margin-bottom: 0;
        flex: none;
    }

    .c-facil:last-child {
        border-right: 0 solid #999;
    }

    .c-uteis__lnk:only-child {
        margin-right: 0;
    }

    .c-uteis__content {
        width: 100%;
        float: left;
    }

    .c-gradiente {
        justify-content: space-between;
        align-items: center;
    }

    .c-brand,
    .c-endereco,
    .c-seguir {
        display: flex;
        flex-basis: auto;
    }

    .c-seguir {
        justify-content: flex-start;
    }

    .c-brand {
        justify-content: flex-end;
    }

    .c-seguir li:first-child {
        width: auto;
        margin-bottom: 0;
    }

    .c-endereco {
        justify-content: center;
        text-align: left;
    }
}
