/* add global styles that can be loaded post LCP here */

/* @import url("https://banco.bradesco/cdn/design-system/dist/design-system-1.31.7/design-system.bundle.min.css"); */
@import url("https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css");
