:root {
    --color-red: #CC092F;
    --color-gray: #F0F1F5;
    --gradient-red-rose: linear-gradient(180deg, #CC092F 0%, #B81570 100%)
    --font-family-sans-serif: var(--body-font-family);
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --brad-color-cta: 59, 105, 255;
    --brad-color-cta-light: 87, 129, 255;
    --brad-color-icon: 204, 9, 47;
    --brad-color-neutral-0: 255, 255, 255;
    --brad-border-radius-pill: 999px;
}

@font-face {
    font-family: swiper-icons;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-red);
    font-family: var(--body-font-family);
}

main {
    position: relative;
    display: grid;
    justify-items: center;
    grid-auto-columns: 1fr;
    background: #F0F1F5;
    border-radius: 24px 24px 0 0;
    padding: 0;
    margin: 0;
    margin-top: -64px;
}

.lp-wrapper {
    display: grid;
}

.lp-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.lp-container h1 {
    margin: 0;
    font-size: 40px;
    line-height: 36px;
}

.lp-container h2, h2 {
    margin: 0;
    font-size: 23px;
    line-height: 28px;
}

.lp-container p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 1024px) and (max-width:1279px) {
    .hidden-md {
        display:none!important
    }
}

@media (min-width: 1280px) {
    .hidden-lg {
        display:none!important
    }
}

@media (max-width: 542px) {
    #link_mobile25 > header > i {
        padding: 5px;
    }
    
    .lp-container {
        max-width: unset;
    }
}


/* END - Classes gerais do CSS */
/* Daqui em diante, CSS a ser retirado e imbutido via css do block */


[class*="icon-seguro-mais-protecao"] {
    color: white;
}

.lp-header {
    position: relative;
    height: 188.88888888888889vw;
    color: #fff;
    background: var(--gradient-red-rose);
}

.lp-header .lp-topbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    height: 90px;
    z-index: 1;
}

.lp-header .lp-acessib {
    display: flex;
    align-items: center;
    height: 42px;
}

.lp-header .lp-topbar .lp-bradesco svg {
    width: 168px;
    height: 38px;
}

.lp-header .lp-topbar .lp-acessibilidade {
    display: none;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    color: #fff;
}

.lp-header .lp-topbar .lp-acessibilidade span {
    display: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.05em;
}

.lp-header .lp-topbar .lp-acessibilidade svg {
    width: 32px;
    height: 32px;
}

.lp-header .lp-video {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
    z-index: 0;
}

.lp-header .lp-video video,
.lp-header .lp-video picture,
.lp-header .lp-video picture img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    object-fit: cover;
}

.lp-header .lp-hero {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lp-header .lp-hero h1,
.lp-header .lp-hero h2,
.lp-header .lp-hero p {
    max-width: 312px;
}

.lp-header .lp-hero h1 {
    font-style: italic
}

.lp-header .lp-hero h1 span {
    white-space: nowrap;
    font-size: 0.4em;
    vertical-align: top;
}

.lp-header .lp-hero h1 .txt-bradesco {
    padding-left: 53px;
}

.lp-header .lp-hero h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px
}

.lp-header .lp-scroll {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 80px;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    z-index: 2;
}

.lp-header .lp-scroll i {
    display: flex;
}

.lp-header .lp-scroll svg {
    display: block;
    width: 10px;
    height: 18px;
    color: #fff;
}

.legal-txt {
    font-size: 15px;
    line-height: 1.4em;
    text-align: left;
    width: 100%;
    max-width: 1440px;
    padding: 10px 0;
}

.logo-whats {
    max-width: 24px;

    margin: -3px 0px;
}

#conheca-outras-facilidades .legal-txt {
    padding-top: 30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


.lp-authorize {
    background: #fff;
}

.lp-authorize .lp-banner {
    display: grid;
}

.lp-authorize header {
    display: grid;
    gap: 12px;
}

.lp-authorize h2 {
    line-height: 32px;
    color: var(--color-red);
}

.lp-authorize h3 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.lp-authorize .lp-action .lp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-red);
    border: 1px solid var(--color-red);
    border-radius: 24px;
    min-height: 48px;
    margin-top: 16px;
    margin-bottom: 20px;
    text-decoration: none;
}

.lp-authorize .lp-qrcode {
    display: none;
}

.lp-authorize .lp-qrcode img {
    display: block;
    max-width: 115px;
}

.lp-authorize .txt-seguranca {
    font-size: 14px;
    line-height: 1.5em;
    padding-bottom: 40px;
}

.lp-authorize figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    border-radius: 16px;
    overflow: hidden;
}

.lp-authorize .lp-step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 120px;
    aspect-ratio: 156 / 120;
}

.lp-authorize .lp-step i {
    position: relative;
}

.lp-authorize .lp-step svg {
    width: 100%;
}

.lp-authorize .lp-step:nth-child(1) {
    background: #D12249;
}

.lp-authorize .lp-step:nth-child(1) i {
    width: 50%;
}

.lp-authorize .lp-step:nth-child(1) span {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    padding-bottom: 1.15em;
}

.lp-authorize .lp-step:nth-child(2) {
    background: #C01E42;
}

.lp-authorize .lp-step:nth-child(2) i {
    width: 50%;
}

.lp-authorize .lp-step:nth-child(3) {
    background: #B42041;
}

.lp-authorize .lp-step:nth-child(3) i {
    width: 28.675%;
}

.lp-authorize .lp-step:nth-child(4) {
    background: #9F213D;
}

.lp-authorize .lp-step:nth-child(4) i {
    width: 25%;
}

.lp-openaccount {
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lp-openaccount>.lp-container {
    position: relative;
}

.lp-openaccount .lp-banner {
    position: relative;
    border-radius: 16px;
    background: linear-gradient(180deg, #CC092F 0%, #CC092F 39.9%, #9D0D21 89.9%, #9D0D21 100%);
    display: grid;
    color: #fff;
    z-index: 1;
    width: 100%;
}

.lp-openaccount header {
    position: relative;
    padding: 24px;
    display: grid;
    gap: 16px;
    z-index: 1;
}

.lp-openaccount h2 {
    line-height: 32px;
}

.lp-openaccount h3 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.lp-openaccount .lp-action {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lp-openaccount .lp-action a,
.lp-openaccount .lp-action img {
    display: block;
}

.lp-openaccount figure {
    position: relative;
    display: grid;
    justify-items: center;
    margin: 0;
    z-index: 1;
}

.lp-openaccount figure figcaption {
    display: none;
}

.lp-openaccount figure>picture {
    width: calc(100% + 28px);
    text-align: center;
}

.lp-openaccount figure img {
    position: relative;
    max-width: 100%;
    height: auto;
}

.lp-openaccount .lp-qrcode img {
    display: block;
}

.lp-openaccount .lp-banner i {
    position: absolute;
    left: 26px;
    bottom: -16px
}

.lp-openaccount .lp-banner i svg {
    display: block;
    width: 149px;
    height: 158px;
}

#imgAnbima {
    padding: 20px 0;
}


.hide-temp {
    display: none !important
}

.lnk-obs {
    color: #000;
    text-decoration: none !important;
}

#acessib-menu-feat img:not([src]) {
    display: none;
}


@media (max-width: 1198px) {
    .legal-txt {
        padding: 10px 0;
    }
}
@media (min-width: 640px) {
    .lp-header {
        height: 44.16vw;
        min-height: 452px;
    }
}

dialog:-internal-dialog-in-top-layer::backdrop {
    background: rgba(0, 0, 0, .88);
}

.c-footer a {
    font-size: 12px;
}
  
  .c-footer address {
    font-size: 12px;
}

