.lp-header .lp-hero {
    justify-content: center;
    height: calc(100% - 96px);
}

.lp-header .lp-hero h1,
.lp-header .lp-hero h2,
.lp-header .lp-hero p {
    max-width: 544px;
}

.lp-header .lp-hero h2,
.lp-header .lp-hero p {
    font-size: 20px !important;
    line-height: 28px;
}

.lp-header .lp-topbar .lp-acessibilidade span {
    display: block;
}


main {
    border-radius: 56px 56px  0 0;
    margin-top: -48px;
}


.lp-facilities .lp-swiper .swiper-slide {
    width: calc((100% - (16px * 2))/3);
}

.lp-facilities .swiper-container {
    padding-right: 56px;
}

.lp-facilities .swiper-button-next {
    margin-right: 20px;
}

.lp-facilities .swiper-button-prev {
    margin-left: 20px;
}


.lp-authorize {
    background: none;
}

.lp-authorize .lp-banner {
    grid-template-columns: 46.25% auto;
    padding-left: 48px;
    background: #fff;
    border-radius: 16px;
    gap: 32px;
}

.lp-authorize header {
    align-self: center;
}

.lp-authorize h2 {
    font-size: 40px;
    line-height: 40px;
    white-space: pre-line;
    padding-bottom: 10px;
}

.lp-authorize h3,
.lp-authorize p {
    max-width: 524px;
    font-size: 20px;
    line-height: 28px;
}
.lp-authorize .txt-seguranca{padding-bottom: 0;}

.lp-authorize .lp-action {
    padding-top: 10px;
}

.lp-authorize .lp-action .lp-btn {
    display: none;
}

.lp-authorize .lp-qrcode {
    display: inline-flex;
    align-items: center;
    padding: 4px 4px 4px 24px;
    border-radius: 12px;
    gap: 16px;
    background: var(--color-gray);
}

.lp-authorize .lp-qrcode small {
    width: 68px;
    font-size: 12px;
    line-height: 16px;
}

.lp-authorize .lp-step {
    min-height: 244px;
    aspect-ratio: 328 / 244;
}

.lp-authorize .lp-step:nth-child(1) span {
    font-size: 19px;
    line-height: 19px;
}
