/* Importa código para normalizar o padrão do CSS entre os navegadores. */
@import url("../styles/normalize.css");

/* Mesclei o reset do bundle.min.js e do style.min.css para não precisar baixar os dois(junto com várias outras classes que não necessariamente serão usadas) */
@import url("../styles/resets.css");
/* @import url("../styles/main.css"); */

/* @import url("../styles/screen-1199-up.css") screen and (min-width: 1199px); */

:root {
    /* colors - vindo de main.css do site original */
    --color-red: #cc092f;
    --color-gray: #f0f1f5;
    --gradient-red-rose: linear-gradient(180deg, #cc092f 0%, #b81570 100%);

    /* colors - vindo do boilerplate original */
    --background-color: var(--color-red);
    --light-color: #f8f8f8;
    --dark-color: #505050;
    --text-color: #131313;
    --link-color: #3b63fb;
    --link-hover-color: #1d3ecf;

    /* fonts */
    --body-font-family: bradesco, bradesco-normal-400-fallback, sans-serif;
    --heading-font-family: bradesco-condensed,
        bradesco-condensed-normal-400-fallback, sans-serif;

    /* fonts - nome vindo de main.css do site original */
    --font-family-sans-serif: var(--body-font-family);

    /* Cores relacionadas ao Swiper, vindo de main.css */
    --brad-color-cta: 59, 105, 255;
    --brad-color-cta-light: 87, 129, 255;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --brad-color-icon: 204, 9, 47;
    --brad-color-neutral-0: 255, 255, 255;
    --brad-border-radius-pill: 999px;
}

/* vindo de main.css do site original */
body {
    background: var(--color-red);
    font-family: Bradesco, sans-serif;
}

/* vindo de main.css do site original */
main {
    position: relative;
    display: grid;
    justify-items: center;
    grid-auto-columns: 1fr;
    background: #F0F1F5;
    border-radius: 24px 24px 0 0;
    margin-top: -64px;
    min-width: 256px;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (min-width: 1199px) {
    main{
        border-radius: 56px 56px 0 0;
        margin-top: -48px;
    }
}



/* vindo de main.css do site original, desativei pois não funciona legal no meu navegador */

html {
    scroll-behavior: smooth;
}

/* Se as fontes customizadas não poderem ser carregadas, serão utilizadas as seguintes. */

/* O tamanho e o tipo foram especificamente escolhidos para ser semelhante a fonte customizada caso não seja carregada. */

/* fallback font for bradesco-condensed (normal - 400) */
@font-face {
    font-family: "bradesco-condensed-normal-400-fallback";
    size-adjust: 91.389%;
    src: local("verdana");
}

/* fallback font for bradesco (normal - 400) */
@font-face {
    font-family: "bradesco-normal-400-fallback";
    size-adjust: 92%;
    src: local("Verdana");
}

@font-face {
    font-family: swiper-icons;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
}

/** Esconde se for menor que 1024 */
@media (max-width: 1023px) {
    .desktop-only {
        display: none;
    }
}

/** Esconde se for maior que 1024 */
@media (min-width: 1023px) {
    .mobile-only {
        display: none;
    }
}

.section{
    min-width: 256px;

    h2 {
        margin: 0;
        font-size: 23px;
        line-height: 28px;
        margin-bottom: 24px;
}}

@media screen and (min-width: 1199px) {
    .section h2 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 64px;
    }
}



main>.section {
    padding: 24px;
}

@media screen and (min-width: 1199px) {
    main>.section {
        max-width: 1440px;
        padding: 56px 56px 64px;
    }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .hidden-md {
        display:none!important
    }
}

@media (min-width: 1280px) {
    .hidden-lg {
        display:none!important
    }
}